<div class="container">
    <h2>Actors</h2>
    <hr>
    <div class="container text-center">
        <figure class="figure">
            <div class="d-flex justify-content-center">
                <div class="image-parent img-list">
                    <img src="https://static.javatpoint.com/top10-technologies/images/top-10-south-indian-actors1.png"
                        class="figure-img img-fluid rounded" alt="...">
                </div>
            </div>
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
        <figure class="figure">
            <div class="d-flex justify-content-center">
                <div class="image-parent img-list">
                    <img src="https://static.javatpoint.com/top10-technologies/images/top-10-south-indian-actors1.png"
                        class="figure-img img-fluid rounded" alt="...">
                </div>
            </div>
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
        <figure class="figure">
            <div class="d-flex justify-content-center">
                <div class="image-parent img-list">
                    <img src="https://static.javatpoint.com/top10-technologies/images/top-10-south-indian-actors1.png"
                        class="figure-img img-fluid rounded" alt="...">
                </div>
            </div>
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
        <figure class="figure">
            <div class="d-flex justify-content-center">
                <div class="image-parent img-list">
                    <img src="https://static.javatpoint.com/top10-technologies/images/top-10-south-indian-actors1.png"
                        class="figure-img img-fluid rounded" alt="...">
                </div>
            </div>
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
        <figure class="figure">
            <div class="d-flex justify-content-center">
                <div class="image-parent img-list">
                    <img src="https://static.javatpoint.com/top10-technologies/images/top-10-south-indian-actors1.png"
                        class="figure-img img-fluid rounded" alt="...">
                </div>
            </div>
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
        <figure class="figure">
            <div class="d-flex justify-content-center">
                <div class="image-parent img-list">
                    <img src="https://static.javatpoint.com/top10-technologies/images/top-10-south-indian-actors1.png"
                        class="figure-img img-fluid rounded" alt="...">
                </div>
            </div>
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
        <figure class="figure">
            <div class="d-flex justify-content-center">
                <div class="image-parent img-list">
                    <img src="https://static.javatpoint.com/top10-technologies/images/top-10-south-indian-actors1.png"
                        class="figure-img img-fluid rounded" alt="...">
                </div>
            </div>
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
    </div>
    <div class="text-center">
        <button class="btn btn-primary"><i class="bi bi-box-arrow-down"></i> View All Actors</button>
    </div>
</div>