<div class="container">
    <h2>Reviews</h2>
    <hr>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <i class="bi bi-star"></i><b>7.5 / 10</b> <span class="mx-3">Item #1</span>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p> Placeholder content for this accordion, which is intended to demonstrate the</p>
                    <p class="blockquote-footer">Review Owner</p>
                    <p>
                        <i>
                            100 out of 120 found this useful
                        </i>
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <i class="bi bi-star"></i><b>7.5 / 10</b> <span class="mx-3">Item #1</span>
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p> Placeholder content for this accordion, which is intended to demonstrate the</p>
                    <p class="blockquote-footer">Review Owner</p>
                    <p>
                        <i>
                            100 out of 120 found this useful
                        </i>
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <i class="bi bi-star"></i><b>7.5 / 10</b> <span class="mx-3">Item #1</span>
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p> Placeholder content for this accordion, which is intended to demonstrate the</p>
                    <p class="blockquote-footer">Review Owner</p>
                    <p>
                        <i>
                            100 out of 120 found this useful
                        </i>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary"><i class="bi bi-box-arrow-down"></i> Load more</button>
    </div>
</div>