<div class="container">
    <h2>Reviews</h2>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-3 mt-2" routerLink="details">
                <div class="card" routerLink="/">
                    <img class="card-image"
                        src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/vans.png"
                        alt="Vans">
                    <div class="card-body">
                        <h4 class="card-title">Vans Sk8-Hi MTE Shoes</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
                        <div class="card-footer text-center text-muted">
                            <span style="float:left"> <i class="bi bi-calendar"></i> 2023</span>
                            <span><i class="bi bi-star"></i> 9.5 / 10</span>
                            <span style="float:right"> <i class="bi bi-trophy"></i> 1 </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-3">
                <div class="card" routerLink="details">
                    <img class="card-image"
                        src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/vans.png"
                        alt="Vans">
                    <div class="card-body">
                        <h4 class="card-title">Vans Sk8-Hi MTE Shoes</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
                        <div class="card-footer text-center text-muted">
                            <span style="float:left"> <i class="bi bi-calendar"></i> 2023</span>
                            <span><i class="bi bi-star"></i> 9.5 / 10</span>
                            <span style="float:right"> <i class="bi bi-trophy"></i> 1 </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-3 mt-2">
                <div class="card" routerLink="details">
                    <img class="card-image"
                        src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/vans.png"
                        alt="Vans">
                    <div class="card-body">
                        <h4 class="card-title">Vans Sk8-Hi MTE Shoes</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
                        <div class="card-footer text-center text-muted">
                            <span style="float:left"> <i class="bi bi-calendar"></i> 2023</span>
                            <span><i class="bi bi-star"></i> 9.5 / 10</span>
                            <span style="float:right"> <i class="bi bi-trophy"></i> 1 </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-3 mt-2">
                <div class="card">
                    <img class="card-image"
                        src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/vans.png"
                        alt="Vans">
                    <div class="card-body">
                        <h4 class="card-title">Vans Sk8-Hi MTE Shoes</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
                        <div class="card-footer text-center text-muted">
                            <span style="float:left"> <i class="bi bi-calendar"></i> 2023</span>
                            <span><i class="bi bi-star"></i> 9.5 / 10</span>
                            <span style="float:right"> <i class="bi bi-trophy"></i> 1 </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-3 mt-2">
                <div class="card">
                    <img class="card-image"
                        src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/vans.png"
                        alt="Vans">
                    <div class="card-body">
                        <h4 class="card-title">Vans Sk8-Hi MTE Shoes</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
                        <div class="card-footer text-center text-muted">
                            <span style="float:left"> <i class="bi bi-calendar"></i> 2023</span>
                            <span><i class="bi bi-star"></i> 9.5 / 10</span>
                            <span style="float:right"> <i class="bi bi-trophy"></i> 1 </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-3 mt-2">
                <div class="card">
                    <img class="card-image"
                        src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/vans.png"
                        alt="Vans">
                    <div class="card-body">
                        <h4 class="card-title">Vans Sk8-Hi MTE Shoes</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
                        <div class="card-footer text-center text-muted">
                            <span style="float:left"> <i class="bi bi-calendar"></i> 2023</span>
                            <span><i class="bi bi-star"></i> 9.5 / 10</span>
                            <span style="float:right"> <i class="bi bi-trophy"></i> 1 </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-3 mt-2">
                <div class="card">
                    <img class="card-image"
                        src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/vans.png"
                        alt="Vans">
                    <div class="card-body">
                        <h4 class="card-title">Vans Sk8-Hi MTE Shoes</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
                        <div class="card-footer text-center text-muted">
                            <span style="float:left"> <i class="bi bi-calendar"></i> 2023</span>
                            <span><i class="bi bi-star"></i> 9.5 / 10</span>
                            <span style="float:right"> <i class="bi bi-trophy"></i> 1 </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-3 mt-2">
                <div class="card">
                    <img class="card-image"
                        src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/vans.png"
                        alt="Vans">
                    <div class="card-body">
                        <h4 class="card-title">Vans Sk8-Hi MTE Shoes</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
                        <div class="card-footer text-center text-muted">
                            <span style="float:left"> <i class="bi bi-calendar"></i> 2023</span>
                            <span><i class="bi bi-star"></i> 9.5 / 10</span>
                            <span style="float:right"> <i class="bi bi-trophy"></i> 1 </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>